@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile-first optimizations */
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Disable text selection globally */
@layer base {
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  /* Allow selection only in input fields */
  input, textarea, [contenteditable="true"] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

/* Touch-friendly interactions */
@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}

/* Additional selection prevention */
::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}